@import '_global.scss';

$black: #000;

//лого
.logo {
  position: fixed;
  left: 30px;
  top: 50px;
  font-size: 35px;
  z-index: 15;
}

//меню-кнопки
.menu-buttons {
  position: fixed;
  right: 30px;
  top: 50px;
  font-size: 2rem;
  z-index: 15;

  padding: 10px 15px;
  cursor: pointer;

  transition: all 0.1s;
}

.bi {
  &.bi-arrow-left {
    fill: transparent;
    stroke: #000;
    stroke-width: 1%;
  }
  &.bi-arrow-right {
    fill: transparent;
    stroke: #000;
    stroke-width: 1%;
    transform: rotate(180deg);
  }
}

//меню
.menu-btn {
  opacity: 1;
}
.menu-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
}
.menu-wrapper {
  position: fixed;
  top: 0;
  z-index: 14;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  background-color: #fff;
  min-height: 0;
  width: 100vw;
  font-size: 0;

  //   transition: height 0s .8s,visibility 0s .8s;

  transition: all 0.7s;
  transition-delay: 0.3s;
}

.menu__socials {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  .menu__social {
    position: relative;
    & + .menu__social {
      margin-top: 10px;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

      border: 1px solid #000;
      border-radius: 50%;
      transform: scale(1.2);
      transition: all 0.35s;

      opacity: 0;
    }
    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
    a {
      display: block;
      padding: 0.9375rem;
    }
    // &:hover{
    //   border: 1px solid #000;
    //   padding: 10px;
    // }
  }
}
//попап-меню
.menu__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  li {
    text-transform: uppercase;
    padding: 0.625rem 4.75rem;
    opacity: 0;
    font-size: 7vw;
    transition: opacity 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53),
      transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    .menu__item {
      color: transparent;
      -webkit-text-stroke: 1px #000;
      display: inline-block;
    }
    svg {
      opacity: 0;
    }
    &:hover {
      .menu__item {
        transform: rotate(180deg);
      }
    }
    &:nth-child(odd) {
      &:hover {
        svg {
          transform: translateY(-50%) translateX(-75px);
          opacity: 1;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        transition: all 0.5s;
      }
    }
    &:nth-child(2n) {
      text-align: left;
      &:hover {
        svg {
          transform: translateY(-50%) translateX(75px) rotate(180deg);
          opacity: 1;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%) rotate(180deg);
        transition: all 0.5s;
      }
    }
  }
}

//обертка всех элементов главного меню(stater)
.s-wrapper {
  &.is-hover {
    .next-arrow {
      right: 220px;
      color: #fff;
      .na-svg {
        fill: #fff;
      }
    }
  }
  &.is-out {
    .next-arrow {
      opacity: 0;
    }
  }
}

//стрелочка
.next-arrow {
  display: flex;
  align-items: center;

  pointer-events: none;
  transition: all 0.5s;

  position: absolute;
  right: 250px;
  bottom: 250px;
  z-index: 10;
  color: #000;
  .na-svg {
    transition: all 0.5s;
  }
  .arrow-label {
    margin-left: 10px;
  }
}

//больше информации
.info {
  display: flex;
  align-items: center;

  position: absolute;
  left: 15rem;
  bottom: 50px;
  //   width: 150px;
  .more {
    color: #fff;
    font-size: 1.4rem;
    margin-right: 300px;
  }
}

.count {
  color: #fff;
}

.timelines {
  display: flex;
  align-items: center;
}
//прогресс-бар
.progress-bar {
  // position: absolute;
  // z-index: 5;
  // top: 10px;
  // left: 50%;
  display: flex;
  margin: 0 10px;
  // transform: translateX(-50%);
  div {
    width: 38px;
    height: 2px;
    background-color: rgb(84, 84, 84);
    transition: all 0.2s;
    &.is-active {
      position: relative;
      .js-progress-bar {
        position: absolute;
        content: "";
        left: 0;
        height: 2px;
        width: 0px;
        background-color: #fff;
      }
      width: 50px;
    }
    & + div {
      margin-left: 10px;
    }
  }
}

//обертка слайдеров
.slides {
  position: relative;
  bottom: 7.5rem;
  left: 7.5rem;
  height: 100vh;
  .pagination {
    position: absolute;
    display: flex;
    align-items: center;
    content: "";
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    div {
      width: 15px;
      height: 15px;
      background-color: purple;
      border-radius: 50%;
      cursor: pointer;
      &.is-active {
        border: 2px solid #fff;
      }
      & + div {
        margin-left: 10px;
      }
    }
  }

  .slide {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    will-change: transform;
    img {
      width: 100vw;
      height: 100vh;
    }
    .slide-rect {
      width: 620px;
      height: 26.25rem;
      background-color: #fff;
      display: none;
    }
    &.is-active {
    }
    &.is-next {
      //   transform: translate(100%, 100%) translate(-500px, 85vh);
      transform: translate(70vw, 80vh);
      transition: all 2.5s cubic-bezier(0.77, 0, 0.175, 1);
      z-index: 3;
      cursor: pointer;
      img {
      }
      &:hover {
        .slide-rect {
          opacity: 0;
        }
      }
      .slide-rect {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s;
      }
    }
    &:not(.is-active):not(.is-next) {
      top: 0vh;
      //   left: calc(100% - 500px);
      left: 70vw;
      transform: translateY(200vh);
      &.is-out {
        transform: translate(-300vw, 50vh) rotate(-30deg) scale(0.1);
        transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition-duration: 0.8s;
      }
    }
  }
}

//slide's-title
.titles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .title {
    position: absolute;
    z-index: 3;
    bottom: 15rem;
    left: 3.75rem;
    color: #fff;
    opacity: 0;
    // display: none;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
      // display: block;
      .title__line {
        span {
          transform: translateY(0%);
        }
      }
    }
    &__line {
      position: relative;
      overflow: hidden;

      display: block;

      color: #fff;
      span {
        display: inline-block;
        transform: translateY(100%);

        transition: all 1s;
      }
      &-client {
        span {
          transform: translateY(-100%);

          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }
      }
    }
  }
}
